.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 8px;
}

.dropdown {
  padding: 4px;
}

.dropdownContainer {
  justify-content: flex-start;
  margin-top: var(--spacing-small);
}

.inputContainer {
  height: 177px;
  display: flex;
}

.footer {
  font-family: 'Figtree', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  margin-top: auto;
}